.container {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center; 
  height: 100vh; 
  padding: 20px; 
  background-color: #f8f8f8;
}

.content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 
    2px 2px 0px rgba(0, 0, 0, 0.7),
    4px 4px 0px rgba(0, 0, 0, 0.6),
    6px 6px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px; 
  height: 100px; 
}

.content-box:hover {
  background-color: #f0f0f0;
}

.content-box.feature1 {
  background-image: url('https://www.pikpng.com/pngl/b/283-2836236_document-text-edit-information-document-icon-clipart.png');
}

.content-box.feature2 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/1092/1092216.png');
}

.content-box.feature3 {
  background-image: url('https://cdn.icon-icons.com/icons2/3453/PNG/512/hand_document_list_paper_file_icon_219450.png');
}