.welcome h1, .login h1 {
  color: white;
  text-shadow: 3px 3px 8px black;  /* Thicker black shadow */
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  background-image: url('./NEU.jpg');
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;  
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 0; 
  margin: 0; 
  overflow: hidden; 
}

.welcome {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.login {
  background: rgba(0, 0, 0, 0.8); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);  
  width: 100%; 
  max-width: 400px; 
  box-sizing: border-box; 
}

.google-login-button {
  background-color: #4285F4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 100px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.google-login-button:hover {
  background-color: #357ae8;
}

.login img {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.google-login-button {
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.google-login-button:hover {
  background-color: #357ae8;
}
